.body {
    .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
     
}

/* seccion navbar y carrusel*/
#navbarSupportedContent {
   justify-content: right;
   text-align: right;
}


/* seccion quienes somos*/

#quienessomos{
  padding-left: 50px;
  padding-right: 50px;
}
.i-box {
  background-color: #0dcaf0;
}


.card-group{

  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.card {
  background-color: black;
}

.texto{
  text-align: center;
background-color: black;
color: white;
padding-top: 50px;
}




/* seccion destacados */

.fotos{
  background-color: black;
  color: white;
  padding-top: 50px;
  text-align: center;
}
.card-body{
  background-color: #0dcaf0;
  color: white;
  text-align: left;
}

.card-text{

  color: white;
  padding: 20px;
  text-align: left;
}

.row{
 margin: 0%;
 padding-left: 50px;
 padding-right: 50px;
 padding-bottom: 40px;
}

.destacados{
padding-top: 20px;
}

/* seccion formulario */
.formulario{
  padding: 0px 80px 40px 80px;
  background-color: black;
  color: white;
}

.contacto{
  text-align: center;
  padding-top: 40px;
}

/* seccion footer */
.footer{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
 vertical-align: baseline;
 background-color: #0dcaf0;
 color: white;
 padding: 20px;
 
 

}
.bajada{
  vertical-align: top;
 
  
}
.iconos{
  color: white;
}